.topblue {
  background-color: #0093ff;
  height: 76px;
  width: 100%;
  z-index: 0;
  position: absolute;
}
.my_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  flex: 1;
  margin-bottom: 6px;

  width: -webkit-fill-available;
  z-index: 1;
  margin: 10px 10px 10px 10px;
}
.my_main_usercard {
  background: #f9fcff;
  border: 1px solid #d0ebff;
  border-radius: 4px;
  flex: 1;
  margin-bottom: 6px;
  color: #333;
  width: -webkit-fill-available;
  z-index: 1;
  padding: 15px;
}

.user_card_up {
  display: flex;
  /* padding: 10px; */
}
.user_card_up img {
  height: 42px;
  min-width: 42px;
  border-radius: 10000px;
  margin-right: 25px;
}
.user_card_info {
}

.user_card_info_details {
  display: flex;
}

.user_card_info_details p {
  margin: 0px 3px;
}
.usercard_down {
  margin-top: 10px;
}
.usercard_down button {
  background-color: #fff;
  border: 1px solid #0093ff;
  color: #0093ff;
  min-width: 120px;
  margin-right: 10px;
  padding: 8px 5px;
  border-radius: 5px;
}

.my_main_options {
  margin-top: 2px;
  width: -webkit-fill-available;
}
.my_main_option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 15px 0px;
  text-decoration: none;
}
.my_main_option_left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #413f3f;
}
.my_main_option_img {
  height: 15px;
  width: 15px;
}
.my_main_option_left_img {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  margin-right: 10px;
  /* color: ; */
}
